In [1]:
#20210508
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('E:\\BaP_Con(1).xlsx', skiprows = [0, 1, 2, 3], header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,417,418,419,420,421,422,423,424,425,426
0,1,Australia,2.0,Agriculture,0.584578,0.125708,0.282688,0.00993752,0.00179298,0.00467373,...,9.21875e-05,0.0033145,0.000441892,0.0015351,3.8508e-05,4.0298e-06,1.38573e-05,1.40057e-06,2.11839e-07,8.78451e-07
1,NaN,NaN,3.0,Coke,0.424731,0.079589,0.104295,0.00379445,0.000618709,0.00117467,...,1.88848e-05,0.000655601,9.82382e-05,0.000278241,1.3035e-05,1.74425e-06,3.13695e-06,9.70174e-07,1.25362e-07,3.04734e-07
2,NaN,NaN,4.0,Energy production,0.0182018,0.00383541,0.00437748,0.000121603,2.23835e-05,5.23372e-05,...,1.33359e-06,5.90963e-05,8.75967e-06,2.78831e-05,8.99516e-07,1.0665e-07,3.12318e-07,3.69484e-08,5.01694e-09,1.65235e-08
3,NaN,NaN,5.0,Industry,2.92319,0.566383,2.07927,0.0572856,0.0129447,0.0337355,...,0.000428201,0.0129246,0.00235046,0.00869873,0.000145335,1.64529e-05,5.76947e-05,7.65482e-06,1.2764e-06,6.54045e-06
4,NaN,NaN,6.0,Transportation,0.00748894,0.00293773,0.00300968,5.71627e-05,8.77469e-06,1.62019e-05,...,2.2558e-07,1.32813e-05,1.92807e-06,4.39395e-06,2.85511e-07,4.04129e-08,5.01156e-08,6.86816e-09,9.81403e-10,3.1466e-09

In [3]:
#去掉无用的列
data = df.iloc[:, 4::] 
data.head()

,4,5,6,7,8,9,10,11,12,13,...,417,418,419,420,421,422,423,424,425,426
0,0.584578,0.125708,0.282688,0.00993752,0.00179298,0.00467373,0.00474047,0.00101977,0.00284532,0.170347,...,9.21875e-05,0.0033145,0.000441892,0.0015351,3.8508e-05,4.0298e-06,1.38573e-05,1.40057e-06,2.11839e-07,8.78451e-07
1,0.424731,0.079589,0.104295,0.00379445,0.000618709,0.00117467,0.00200109,0.00042195,0.000703916,0.0251249,...,1.88848e-05,0.000655601,9.82382e-05,0.000278241,1.3035e-05,1.74425e-06,3.13695e-06,9.70174e-07,1.25362e-07,3.04734e-07
2,0.0182018,0.00383541,0.00437748,0.000121603,2.23835e-05,5.23372e-05,8.44185e-05,1.71599e-05,4.74792e-05,0.00348647,...,1.33359e-06,5.90963e-05,8.75967e-06,2.78831e-05,8.99516e-07,1.0665e-07,3.12318e-07,3.69484e-08,5.01694e-09,1.65235e-08
3,2.92319,0.566383,2.07927,0.0572856,0.0129447,0.0337355,0.0237216,0.00602951,0.0221511,0.52265,...,0.000428201,0.0129246,0.00235046,0.00869873,0.000145335,1.64529e-05,5.76947e-05,7.65482e-06,1.2764e-06,6.54045e-06
4,0.00748894,0.00293773,0.00300968,5.71627e-05,8.77469e-06,1.62019e-05,1.12886e-05,2.7041e-06,9.0788e-06,0.000431547,...,2.2558e-07,1.32813e-05,1.92807e-06,4.39395e-06,2.85511e-07,4.04129e-08,5.01156e-08,6.86816e-09,9.81403e-10,3.1466e-09

In [4]:
num = 141
x = 3
y = 7
a = np.zeros((num, num))

In [5]:
for i in range(num):
    for j in range(num):
        a[j, i] = data.iloc[0+j*7:7*(j+1), 0 + i*x:3+i*3].sum(axis=1).sum()

In [6]:
print(a) #a为141*141的数据

[[7.23094651e+00 1.26277391e-01 6.38195451e-02 ... 3.04207686e-02
  2.95672934e-04 1.94384631e-05]
 [1.46924457e-01 1.00737792e+00 2.79609139e-02 ... 4.60414003e-03
  3.44902509e-05 2.61555355e-06]
 [2.09540928e-03 2.56039301e-04 2.28856101e-02 ... 1.10349263e-04
  1.80089913e-06 2.78874539e-08]
 ...
 [6.06457802e-02 8.64882228e-03 4.22495737e-03 ... 7.10855014e+00
  8.65902820e-02 9.08159845e-06]
 [3.81781626e-05 4.94190204e-06 2.24423611e-05 ... 2.39745583e-03
  9.91545584e-03 7.28425187e-09]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]]

In [9]:
#存为excel
data1 = pd.DataFrame(a) #转化为DataFrame格式
writer = pd.ExcelWriter('E:\\country141.xlsx') #存入的路径
data1.to_excel(writer)
writer.save()